# SPDX-License-Identifier: GPL-3.0-only
root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
file_header_template = SPDX-License-Identifier: GPL-3.0-only

[*.{csproj,props,targets,slnx}]
indent_style = space
indent_size = 2
